#image-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 5px;
    & img {
        width: 100px;
        height: auto;
        display: block;
    }
}

#first-linked-email {
    display: flex;
    justify-content: space-between;
    margin-top:10px;
}