* {
box-sizing: border-box;
font-family: 'Poppins', sans-serif;

}


body {
    display: flex;
    min-height: 100vh;
    background-color: #F9F9F9;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    background-color: green;
}


@media (max-width: 556px) {
    #imageholders {
        grid-template-columns: 1fr 1fr;
    }
    .refresh-div {
        position: relative;
        align-items: flex-end;
        & button {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    #image-display {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 360px){
    #imageholders {
        grid-template-columns: 1fr;
    }

    #image-display {
        grid-template-columns: 1fr 1fr;
    }
}